.row
  .col-md-3
    #categories
      .btn-group-vertical.pull-right{:role=>"group"}
        = render partial: 'common/category', collection: @categories

  .col-md-9
    #products
      = render partial: 'common/product', collection: @products
