.row
  .col-md-4
    #categories
      .btn-group-vertical{:role=>"group"}
        = render partial: 'common/category', collection: @categories

  .col-md-8
    #products
      = render partial: 'common/product', collection: @products
