%section
  .container
    .row
      .col-sm-3
        .left-sidebar
          %h2 Category
          .panel-group.category-products{:id=>"accordian"}
            = render partial: 'common/category', collection: @categories


      .col-sm-9.padding-right
        .features_items
          %h2{:class=>"title text-center"} Products

        .category-tab
          .tab-content
            .tab-pane.fade.active.in{:id=>"products"}
              = render partial: 'common/product', collection: @products

