.product-details
  .col-sm-5
    .view-product
      =image_tag attachment_url(product, :product_image, :fill, 300, 300, format: "jpg")

  .col-sm-7
    .product-information
      %span
        %h2= product.title
        %p= product.description
        %span
          %span= "$"+product.price.to_s

.category-tab.shop-details-tab
  =render partial: "common/reviews", locals: {product: product}