.col-sm-3
  .product-image-wrapper
    .single-products
      .productinfo.text-center
        = link_to image_tag(attachment_url(product, :product_image, :fill, 300, 300, format: "jpg")), product_details_path(product_id: product.id ), :remote => true, :id => "image_#{product.id}"
        %h2="$" + product.price.to_s
        %p= product.title


